# Default owners if not more specific match
* @cloudflare/pcx-technical-writing

# More dev-specific files
/.github/ @fhar28 @fharChua @Bothhybrid2022
/.github/CODEOWNERS @cloudflare/pcx-technical-writing
/
